In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = [
    ["2025-02-21", "State Farm Arena", "Atlanta", "GA", 21000],
    ["2025-02-22", "State Farm Arena", "Atlanta", "GA", 21000],
    ["2025-02-28", "Bridgestone Arena", "Nashville", "TN", 19891],
    ["2025-03-01", "Bridgestone Arena", "Nashville", "TN", 19891],
    ["2025-04-03", "St. Augustine Amphitheatre", "St. Augustine", "FL", 4700],
    ["2025-04-04", "St. Augustine Amphitheatre", "St. Augustine", "FL", 4700],
    ["2025-04-05", "St. Augustine Amphitheatre", "St. Augustine", "FL", 4700],
    ["2025-04-09", "Yuengling Center", "Tampa", "FL", 10411],
    ["2025-04-11", "Enmarket Arena", "Savannah", "GA", 9500],
    ["2025-04-12", "Enmarket Arena", "Savannah", "GA", 9500],
    ["2025-04-15", "John Paul Jones Arena", "Charlottesville", "VA", 14593],
    ["2025-04-17", "Koka Booth Amphitheatre", "Cary", "NC", 7000],
    ["2025-04-18", "Koka Booth Amphitheatre", "Cary", "NC", 7000],
    ["2025-04-19", "Koka Booth Amphitheatre", "Cary", "NC", 7000],
    ["2025-05-13", "Talking Stick Resort Amphitheatre", "Phoenix", "AZ", 20000],
    ["2025-05-15", "North Island Credit Union Amphitheatre", "Chula Vista", "CA", 20500],
    ["2025-05-16", "Hollywood Bowl", "Los Angeles", "CA", 17500],
    ["2025-05-18", "Toyota Amphitheatre", "Wheatland", "CA", 18500],
    ["2025-05-20", "Ford Idaho Center Amphitheater", "Nampa", "ID", 10500],
    ["2025-05-22", "ONE Spokane Stadium", "Spokane", "WA", 12000],
    ["2025-05-24", "RV Inn Style Resorts Amphitheater", "Ridgefield", "WA", 18000],
    ["2025-05-25", "Gorge Amphitheatre", "George", "WA", 27500],
    ["2025-05-30", "Van Andel Arena", "Grand Rapids", "MI", 10834],
    ["2025-05-31", "Van Andel Arena", "Grand Rapids", "MI", 10834],
    ["2025-06-06", "Allstate Arena", "Rosemont", "IL", 18500],
    ["2025-06-07", "Allstate Arena", "Rosemont", "IL", 18500],
    ["2025-06-11", "T-Mobile Center", "Kansas City", "MO", 18972],
    ["2025-06-13", "Chaifetz Arena", "St. Louis", "MO", 10600],
    ["2025-06-14", "Chaifetz Arena", "St. Louis", "MO", 10600],
    ["2025-06-20", "Rupp Arena", "Lexington", "KY", 23500],
    ["2025-06-21", "Rupp Arena", "Lexington", "KY", 23500],
    ["2025-07-04", "Germania Insurance Amphitheater", "Austin", "TX", 14000],
    ["2025-07-06", "Dos Equis Pavilion", "Dallas", "TX", 20000],
    ["2025-07-09", "Walmart AMP", "Rogers", "AR", 9500],
    ["2025-07-11", "Ascend Amphitheater", "Nashville", "TN", 6800],
    ["2025-07-12", "Ascend Amphitheater", "Nashville", "TN", 6800],
    ["2025-07-14", "PNC Music Pavilion", "Charlotte", "NC", 19500],
    ["2025-07-16", "Coastal Credit Union Music Park", "Raleigh", "NC", 20000],
    ["2025-07-18", "Veterans United Home Loans Amphitheater", "Virginia Beach", "VA", 20000],
    ["2025-07-20", "Merriweather Post Pavilion", "Columbia", "MD", 19319],
    ["2025-07-23", "Saratoga Performing Arts Center", "Saratoga Springs", "NY", 25100],
    ["2025-07-25", "Bethel Woods Center for the Arts", "Bethel", "NY", 15000],
    ["2025-07-27", "Xfinity Theatre", "Hartford", "CT", 30000],
    ["2025-07-30", "Bank of New Hampshire Pavilion", "Gilford", "NH", 9000],
    ["2025-08-01", "Maine Savings Amphitheater", "Bangor", "ME", 15000],
    ["2025-08-03", "Leader Bank Pavilion", "Boston", "MA", 5000],
    ["2025-08-05", "Northwell Health at Jones Beach Theater", "Wantagh", "NY", 15000],
    ["2025-08-07", "PNC Bank Arts Center", "Holmdel", "NJ", 17500]
]

In [4]:
df = pd.DataFrame(data, columns=["Date", "Venue", "City", "State", "Capacity"])

In [7]:
df.head(10)

         Date                       Venue           City State  Capacity
0  2025-02-21            State Farm Arena        Atlanta    GA     21000
1  2025-02-22            State Farm Arena        Atlanta    GA     21000
2  2025-02-28           Bridgestone Arena      Nashville    TN     19891
3  2025-03-01           Bridgestone Arena      Nashville    TN     19891
4  2025-04-03  St. Augustine Amphitheatre  St. Augustine    FL      4700
5  2025-04-04  St. Augustine Amphitheatre  St. Augustine    FL      4700
6  2025-04-05  St. Augustine Amphitheatre  St. Augustine    FL      4700
7  2025-04-09            Yuengling Center          Tampa    FL     10411
8  2025-04-11              Enmarket Arena       Savannah    GA      9500
9  2025-04-12              Enmarket Arena       Savannah    GA      9500

In [8]:
# Example 1 rolling avg last 3

In [9]:
df["rolling_mean_3"] = df["Capacity"].rolling(window=3).mean()

In [10]:
df.head(10)

,Date,Venue,City,State,Capacity,rolling_mean_3
0,2025-02-21,State Farm Arena,Atlanta,GA,21000,NaN
1,2025-02-22,State Farm Arena,Atlanta,GA,21000,NaN
2,2025-02-28,Bridgestone Arena,Nashville,TN,19891,20630.333333
3,2025-03-01,Bridgestone Arena,Nashville,TN,19891,20260.666667
4,2025-04-03,St. Augustine Amphitheatre,St. Augustine,FL,4700,14827.333333
5,2025-04-04,St. Augustine Amphitheatre,St. Augustine,FL,4700,9763.666667
6,2025-04-05,St. Augustine Amphitheatre,St. Augustine,FL,4700,4700.000000
7,2025-04-09,Yuengling Center,Tampa,FL,10411,6603.666667
8,2025-04-11,Enmarket Arena,Savannah,GA,9500,8203.666667
9,2025-04-12,Enmarket Arena,Savannah,GA,9500,9803.666667

In [11]:
# Example 2 rolling sum

In [12]:
df["rolling_sum"] = df["Capacity"].rolling(window=3).sum()

In [13]:
df.head(10)

,Date,Venue,City,State,Capacity,rolling_mean_3,rolling_sum
0,2025-02-21,State Farm Arena,Atlanta,GA,21000,NaN,NaN
1,2025-02-22,State Farm Arena,Atlanta,GA,21000,NaN,NaN
2,2025-02-28,Bridgestone Arena,Nashville,TN,19891,20630.333333,61891.0
3,2025-03-01,Bridgestone Arena,Nashville,TN,19891,20260.666667,60782.0
4,2025-04-03,St. Augustine Amphitheatre,St. Augustine,FL,4700,14827.333333,44482.0
5,2025-04-04,St. Augustine Amphitheatre,St. Augustine,FL,4700,9763.666667,29291.0
6,2025-04-05,St. Augustine Amphitheatre,St. Augustine,FL,4700,4700.000000,14100.0
7,2025-04-09,Yuengling Center,Tampa,FL,10411,6603.666667,19811.0
8,2025-04-11,Enmarket Arena,Savannah,GA,9500,8203.666667,24611.0
9,2025-04-12,Enmarket Arena,Savannah,GA,9500,9803.666667,29411.0

In [14]:
# Example 3 Min/Max

In [15]:
df["rolling_min"] = df["Capacity"].rolling(window=3).min()
df["rolling_max"] = df["Capacity"].rolling(window=3).max()

In [17]:
df.head(10)

,Date,Venue,City,State,Capacity,rolling_mean_3,rolling_sum,rolling_min,rolling_max
0,2025-02-21,State Farm Arena,Atlanta,GA,21000,NaN,NaN,NaN,NaN
1,2025-02-22,State Farm Arena,Atlanta,GA,21000,NaN,NaN,NaN,NaN
2,2025-02-28,Bridgestone Arena,Nashville,TN,19891,20630.333333,61891.0,19891.0,21000.0
3,2025-03-01,Bridgestone Arena,Nashville,TN,19891,20260.666667,60782.0,19891.0,21000.0
4,2025-04-03,St. Augustine Amphitheatre,St. Augustine,FL,4700,14827.333333,44482.0,4700.0,19891.0
5,2025-04-04,St. Augustine Amphitheatre,St. Augustine,FL,4700,9763.666667,29291.0,4700.0,19891.0
6,2025-04-05,St. Augustine Amphitheatre,St. Augustine,FL,4700,4700.000000,14100.0,4700.0,4700.0
7,2025-04-09,Yuengling Center,Tampa,FL,10411,6603.666667,19811.0,4700.0,10411.0
8,2025-04-11,Enmarket Arena,Savannah,GA,9500,8203.666667,24611.0,4700.0,10411.0
9,2025-04-12,Enmarket Arena,Savannah,GA,9500,9803.666667,29411.0,9500.0,10411.0

In [18]:
# Example 4 rolling window different columns

In [19]:
np.random.seed(42)

In [28]:
df["tickets_sold"] = (df["Capacity"] * np.random.uniform(0.9, 1.0, len(df))).astype(int)

In [29]:
df.head()

,Date,Venue,City,State,Capacity,rolling_mean_3,rolling_sum,rolling_min,rolling_max,tickets_sold
0,2025-02-21,State Farm Arena,Atlanta,GA,21000,NaN,NaN,NaN,NaN,19997
1,2025-02-22,State Farm Arena,Atlanta,GA,21000,NaN,NaN,NaN,NaN,19797
2,2025-02-28,Bridgestone Arena,Nashville,TN,19891,20630.333333,61891.0,19891.0,21000.0,17952
3,2025-03-01,Bridgestone Arena,Nashville,TN,19891,20260.666667,60782.0,19891.0,21000.0,18116
4,2025-04-03,St. Augustine Amphitheatre,St. Augustine,FL,4700,14827.333333,44482.0,4700.0,19891.0,4244

In [30]:
df["tickets_sold"].unique()

array([19997, 19797, 17952, 18116,  4244,  4529,  4377,  9899,  9412,
        8786, 13732,  6828,  6460,  6353, 18579, 18780, 17376, 18145,
       10115, 11845, 17646, 25263, 10717, 10334, 18143, 18307, 17678,
        9656,  9781, 22153, 23072, 13805, 18013,  9035,  6403,  6271,
       17783, 18675, 19885, 18011, 23892, 14554, 28090,  8974, 14943,
        4625, 14245, 16276])

In [35]:
df[["Rolling_mean_Capacity_5", "Rolling_mean_Tickets_5"]] =\
  df[["Capacity", "tickets_sold"]]\
  .rolling(window=5).mean()

In [37]:
df.head(10)

,Date,Venue,City,State,Capacity,rolling_mean_3,rolling_sum,rolling_min,rolling_max,tickets_sold,Rolling_mean_Capacity_5,Rolling_mean_Tickets_5
0,2025-02-21,State Farm Arena,Atlanta,GA,21000,NaN,NaN,NaN,NaN,19997,NaN,NaN
1,2025-02-22,State Farm Arena,Atlanta,GA,21000,NaN,NaN,NaN,NaN,19797,NaN,NaN
2,2025-02-28,Bridgestone Arena,Nashville,TN,19891,20630.333333,61891.0,19891.0,21000.0,17952,NaN,NaN
3,2025-03-01,Bridgestone Arena,Nashville,TN,19891,20260.666667,60782.0,19891.0,21000.0,18116,NaN,NaN
4,2025-04-03,St. Augustine Amphitheatre,St. Augustine,FL,4700,14827.333333,44482.0,4700.0,19891.0,4244,17296.4,16021.2
5,2025-04-04,St. Augustine Amphitheatre,St. Augustine,FL,4700,9763.666667,29291.0,4700.0,19891.0,4529,14036.4,12927.6
6,2025-04-05,St. Augustine Amphitheatre,St. Augustine,FL,4700,4700.000000,14100.0,4700.0,4700.0,4377,10776.4,9843.6
7,2025-04-09,Yuengling Center,Tampa,FL,10411,6603.666667,19811.0,4700.0,10411.0,9899,8880.4,8233.0
8,2025-04-11,Enmarket Arena,Savannah,GA,9500,8203.666667,24611.0,4700.0,10411.0,9412,6802.2,6492.2
9,2025-04-12,Enmarket Arena,Savannah,GA,9500,9803.666667,29411.0,9500.0,10411.0,8786,7762.2,7400.6

In [38]:
# Example 5

In [39]:
rolling_stats = df["Capacity"].rolling(window=5).agg(["mean", "sum", "std"])

In [41]:
rolling_stats.head(10)

      mean      sum          std
0      NaN      NaN          NaN
1      NaN      NaN          NaN
2      NaN      NaN          NaN
3      NaN      NaN          NaN
4  17296.4  86482.0  7063.400336
5  14036.4  70182.0  8534.944891
6  10776.4  53882.0  8320.453371
7   8880.4  44402.0  6633.311413
8   6802.2  34011.0  2896.519325
9   7762.2  38811.0  2820.025567

In [42]:
# Example 6 use apply

In [43]:
df["rolling_range"] = df["tickets_sold"].rolling(window=3).apply(lambda x: x.max() - x.min())

In [45]:
df[["tickets_sold", "rolling_range"]].head(10)

   tickets_sold  rolling_range
0         19997            NaN
1         19797            NaN
2         17952         2045.0
3         18116         1845.0
4          4244        13872.0
5          4529        13872.0
6          4377          285.0
7          9899         5522.0
8          9412         5522.0
9          8786         1113.0

In [46]:
# Example 7 groupby

In [86]:
# find the mean tickets sold for every 2-window occurrence of a venue
df["Rolling_mean_venue"] = df.groupby("Venue")["tickets_sold"]\
  .rolling(window=2).mean()\
  .reset_index(level=0, drop=True)

In [87]:
df[["Venue", "Rolling_mean_venue"]].head(20)

                                     Venue  Rolling_mean_venue
0                         State Farm Arena                 NaN
1                         State Farm Arena             19897.0
2                        Bridgestone Arena                 NaN
3                        Bridgestone Arena             18034.0
4               St. Augustine Amphitheatre                 NaN
5               St. Augustine Amphitheatre              4386.5
6               St. Augustine Amphitheatre              4453.0
7                         Yuengling Center                 NaN
8                           Enmarket Arena                 NaN
9                           Enmarket Arena              9099.0
10                   John Paul Jones Arena                 NaN
11                 Koka Booth Amphitheatre                 NaN
12                 Koka Booth Amphitheatre              6644.0
13                 Koka Booth Amphitheatre              6406.5
14       Talking Stick Resort Amphitheatre                 NaN
15  North Island Credit Union Amphitheatre                 NaN
16                          Hollywood Bowl                 NaN
17                     Toyota Amphitheatre                 NaN
18          Ford Idaho Center Amphitheater                 NaN
19                     ONE Spokane Stadium                 NaN

In [88]:
# Example 8 min periods

In [89]:
df["rolling_avg_min_periods"] = df["Capacity"].rolling(window=5, min_periods=3).mean()

In [90]:
df["rolling_avg_min_periods"].head(10)

0             NaN
1             NaN
2    20630.333333
3    20445.500000
4    17296.400000
5    14036.400000
6    10776.400000
7     8880.400000
8     6802.200000
9     7762.200000
Name: rolling_avg_min_periods, dtype: float64

In [91]:
# Example use shift with rolling

In [92]:
df["rolling_shift"] = df["Capacity"].rolling(window=5).mean().shift(1) - df["Capacity"]

In [93]:
df["rolling_shift"].head(10)

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5    12596.4
6     9336.4
7      365.4
8     -619.6
9    -2697.8
Name: rolling_shift, dtype: float64

In [112]:
# here is what's going on when we use `.shift`
pd.DataFrame([
  df["Capacity"],
  df["Capacity"].shift(1), 
  df["Capacity"].rolling(window=5).mean(),
  df["Capacity"].rolling(window=5).mean().shift(1), 
  df["Capacity"].rolling(window=5).mean().shift(1) - df["Capacity"]
], index=[
  "Capacity", 
  "Capacity_shifted", 
  "Rolling_mean_5", 
  "Rolling_mean_5_shifted", 
  "Rolling_mean_5_shifted_vs_Capacity"]
).T.head(10)

,Capacity,Capacity_shifted,Rolling_mean_5,Rolling_mean_5_shifted,Rolling_mean_5_shifted_vs_Capacity
0,21000.0,NaN,NaN,NaN,NaN
1,21000.0,21000.0,NaN,NaN,NaN
2,19891.0,21000.0,NaN,NaN,NaN
3,19891.0,19891.0,NaN,NaN,NaN
4,4700.0,19891.0,17296.4,NaN,NaN
5,4700.0,4700.0,14036.4,17296.4,12596.4
6,4700.0,4700.0,10776.4,14036.4,9336.4
7,10411.0,4700.0,8880.4,10776.4,365.4
8,9500.0,10411.0,6802.2,8880.4,-619.6
9,9500.0,9500.0,7762.2,6802.2,-2697.8

In [113]:
# Example 10 handling null values ffill

In [114]:
df["Rolling_avg_ffill"] = df["Capacity"].ffill().rolling(window=5).mean()

In [115]:
df["Rolling_avg_ffill"].head(10)

0        NaN
1        NaN
2        NaN
3        NaN
4    17296.4
5    14036.4
6    10776.4
7     8880.4
8     6802.2
9     7762.2
Name: Rolling_avg_ffill, dtype: float64

In [119]:
# Example 11 center following window

In [126]:
df["centered_rolling_avg"] = df["Capacity"].rolling(window=10, center=True).mean()

In [131]:
df["centered_rolling_avg"]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5     12529.3
6     11888.6
7     10488.6
8      9199.5
9      7910.4
10     9440.4
11    11020.4
12    12300.4
13    13109.3
14    13209.3
15    13459.3
16    13800.0
17    15850.0
18    16233.4
19    16616.8
20    16466.8
21    16266.8
22    16414.0
23    15624.0
24    15634.0
25    16784.0
26    17334.0
27    15984.0
28    16900.6
29    16767.2
30    15597.2
31    14427.2
32    14480.0
33    15420.0
34    16360.0
35    15941.9
36    16101.9
37    16201.9
38    17201.9
39    17151.9
40    17971.9
41    17791.9
42    17341.9
43    17091.9
44        NaN
45        NaN
46        NaN
47        NaN
Name: centered_rolling_avg, dtype: float64

In [132]:
df["Date"] = pd.to_datetime(df["Date"])

In [133]:
df.set_index("Date", inplace=True)

In [134]:
df.head(10)

,Venue,City,State,Capacity,rolling_mean_3,rolling_sum,rolling_min,rolling_max,tickets_sold,Rolling_mean_Capacity_5,Rolling_mean_Tickets_5,rolling_range,Rolling_mean_venue,rolling_avg_min_periods,rolling_shift,Rolling_avg_ffill,centered_rolling_avg
Date,,,,,,,,,,,,,,,,,
2025-02-21,State Farm Arena,Atlanta,GA,21000,NaN,NaN,NaN,NaN,19997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-22,State Farm Arena,Atlanta,GA,21000,NaN,NaN,NaN,NaN,19797,NaN,NaN,NaN,19897.0,NaN,NaN,NaN,NaN
2025-02-28,Bridgestone Arena,Nashville,TN,19891,20630.333333,61891.0,19891.0,21000.0,17952,NaN,NaN,2045.0,NaN,20630.333333,NaN,NaN,NaN
2025-03-01,Bridgestone Arena,Nashville,TN,19891,20260.666667,60782.0,19891.0,21000.0,18116,NaN,NaN,1845.0,18034.0,20445.500000,NaN,NaN,NaN
2025-04-03,St. Augustine Amphitheatre,St. Augustine,FL,4700,14827.333333,44482.0,4700.0,19891.0,4244,17296.4,16021.2,13872.0,NaN,17296.400000,NaN,17296.4,NaN
2025-04-04,St. Augustine Amphitheatre,St. Augustine,FL,4700,9763.666667,29291.0,4700.0,19891.0,4529,14036.4,12927.6,13872.0,4386.5,14036.400000,12596.4,14036.4,12529.3
2025-04-05,St. Augustine Amphitheatre,St. Augustine,FL,4700,4700.000000,14100.0,4700.0,4700.0,4377,10776.4,9843.6,285.0,4453.0,10776.400000,9336.4,10776.4,11888.6
2025-04-09,Yuengling Center,Tampa,FL,10411,6603.666667,19811.0,4700.0,10411.0,9899,8880.4,8233.0,5522.0,NaN,8880.400000,365.4,8880.4,10488.6
2025-04-11,Enmarket Arena,Savannah,GA,9500,8203.666667,24611.0,4700.0,10411.0,9412,6802.2,6492.2,5522.0,NaN,6802.200000,-619.6,6802.2,9199.5
2025-04-12,Enmarket Arena,Savannah,GA,9500,9803.666667,29411.0,9500.0,10411.0,8786,7762.2,7400.6,1113.0,9099.0,7762.200000,-2697.8,7762.2,7910.4

In [135]:
df["rolling_avg_7_days"] = df["Capacity"].rolling("7D").mean()

In [136]:
df["rolling_avg_7_days"].head(10)

Date
2025-02-21    21000.000000
2025-02-22    21000.000000
2025-02-28    20445.500000
2025-03-01    19891.000000
2025-04-03     4700.000000
2025-04-04     4700.000000
2025-04-05     4700.000000
2025-04-09     6127.750000
2025-04-11     8203.666667
2025-04-12     9803.666667
Name: rolling_avg_7_days, dtype: float64